<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="layout/head"/>
	</head>
	<body>
		<div th:replace="layout/navigation :: navigation"/>

		<div class="container">
			<div class="card">
				<div class="card-header">
					<h1>Product List</h1>
					<span class="text-success" th:text="${success}"></span>
				</div>
				<div class="card-body">
					<table class="table table-sm table-hover">
						<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Title</th>
								<th>Description</th>
								<th>Release Date</th>
								<th>Pages</th>
<!--								<th>Type</th>-->
<!--								<th>Price</th>-->
							</tr>
						</thead>
						<tr th:each="product : ${products}">
							<td><span th:text="${product.id}"></span></td>
							<td><a href="#" th:href="@{/product/detail/} + ${product.id}" th:text="${product.title}"></a></td>
							<td><span th:text="${product.description}"></span></td>
							<td><span th:text="${product.releaseDate}"></span></td>
							<td><span th:text="${product.pages}"></span></td>
<!--							<td><span th:text="${product.prices.priceType}"></span></td>-->
<!--							<td><span th:text="${product.prices.value}"></span></td>-->
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div th:replace="layout/footer"/>
	</body>
</html>