<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/head :: head" />
	<body>
		<div th:replace="layout/navigation :: navigation" />
		<div class="container">
			<div class="card">
				<div class="card-header">
					<h1>Product List</h1>
					<span class="text-success" th:text="${success}"></span>
				</div>
				<div class="card-body">
					<table class="table table-sm table-hover">
						<thead class="thead-dark">
							<tr>
								<th width="5%">ID</th>
								<th width="10%">Title</th>
								<th width="50%">Description</th>
								<th width="10%">Release Date</th>
								<th width="5%">Pages</th>
								<th width="10%">Prices</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="product : ${products}">
								<td><span th:text="${product.id}"></span></td>
								<td><a th:href="@{/product/detail/} + ${product.id}" th:text="${product.title}"></a></td>
								<td><span th:text="${product.description}"></span></td>
								<td><span th:text="${product.releasedate}"></span></td>
								<td><span th:text="${product.pages}"></span></td>
								<td>
									<span th:each="pricetype : ${product.pricetypes}">
										<div th:text="${pricetype.type.type} + ': '+ ${pricetype.value}"></div>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div th:replace="layout/footer" />
	</body>
</html>