<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head" />
	<body>
		<div th:replace="layout/navigation :: navigation" />
		<div class="container">
			<div class="card">
				<div class="card-header">
					<h1>Type List</h1>
					<span class="text-success" th:text="${success}"></span>
				</div>
				<div class="card-body">
					<table class="table table-sm table-hover">
						<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Type</th>
							</tr>
						</thead>
						<tr th:each="type : ${types}">
							<td><span th:text="${type.id}"></span></td>
							<td><span th:text="${type.type}"></span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div th:replace="layout/footer"/>
	</body>
</html>