<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<div th:fragment="navigation">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">Spring Boot Model</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProduct" role="button"
							   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" th:href="@{/product/form}">New Product</a>
								<a class="dropdown-item" th:href="@{/product/list}">All Products</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownType" role="button"
							   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Types
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" th:href="@{/type/form}">New Type</a>
								<a class="dropdown-item" th:href="@{/type/list}">All Types</a>
							</div>
						</li>
						<li class="nav-item">

						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<a href="/cart" class="nav-link">
							Cart<span th:text="' (' + ${session.cart.quantity} + ')'" th:unless="${session.cart == null}"></span>
						</a>
						<a class="nav-link" th:href="@{/logout}">Logout</a>
					</form>
				</div>
			</nav>
		</div>
	</body>
</html>