<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/head :: head" />
	<body>
		<div class="container">
			<div class="card">
				<div class="card-header"><h1>OMG! Bad Spring Boot Model, bad!!</h1></div>
				<div class="card-body">
					<p class="card-text, text-success">Forgive Ricardo. He is doing his best. I will email him about this problem.</p>
					<p class="card-text">:)</p>
				</div>
			</div>

			Message: <span th:text="${exception.message}"></span>
			<div th:each="exc : ${exception.stackTrace}">
				<span th:text="${exc}"></span>
			</div>
		</div>
		<div th:replace="layout/footer"/>
	</body>
</html>

